matplotlib                  3.9.2
matplotlib-inline           0.1.7
nltk                        3.9.1
numpy                       1.26.4
pandas                      2.2.2
pillow                      11.0.0
pip                         24.2
plotly                      5.24.1
plotly-resampler            0.8.3.2
regex                       2024.9.11
streamlit                   1.40.1
